extends layout

block content

  h1=title
  div.container
    div.content
      div.col-sm-3
        a(href='/video-testimonials') Video Testimonials
      div.col-sm-3
        a(href='/media-coverage') Media Coverage
      div.col-sm-3
        a(href='/awards') Awards
      div.col-sm-3
        a(href='/press-release') Press Releases
      div.col-sm-3
        a(href='/case-studies') Case Studies