//
   Created by jdixon on 12/2/14.

extends layout
block content
   h1=title
   div.container
      div.content
         form.form-horizontal(action='/success-media-coverage', method='post', id='mediaCoverage')
            div.form-group
               label.col-sm-2.control-label Title
               div.col-sm-10
                  input.form-control(type='text', name='title')
            div.form-group
               label.col-sm-2.control-label Date
               div.col-sm-10
                  input.form-control(type='text', name='date')
            div.form-group
               label.col-sm-2.control-label Content
               div.col-sm-10
                  textarea.form-control(name='content', rows=3)
            div.form-group
               label.col-sm-2.control-label Publication
               div.col-sm-10
                  input.form-control(type='text', name='publshedIn')
            div.form-group
               label.col-sm-2.control-label Publication URL
               div.col-sm-10
                  input.form-control(type='text', name='publishedInURL')
            div
               input.btn.btn-primary(type='submit', value='Submit')