extends layout
block content
   h1=title
   div.container
      div.content
         div.col-sm-3
            div.alert.alert-success Your form was successfully submitted and the content has been appended